<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        Groups
      </h1>

      <div class="group-menu">
        <a class="group-menu-item" *ngFor="let group of groups" [routerLink]="['/groups', group._id]" routerLinkActive="is-active">
          <p>{{group.title}}</p>
        </a>


      </div>

      <button class="button is-primary has-text-white" routerLink="/new-group" >+ New Group</button>
    </div>

    <div class="task-group-container has-background-light">
      <h1 class="title has-text-primary">
        Tasks
      </h1>

      <div class="tasks" *ngFor="let task of tasks" (click)="onTaskClick(task)">
        <p>{{task.title}}</p>

      </div>

      <button class="circle-add-button is-primary button" routerLink="./new-task">
        <p> + </p>
      </button>
    </div>
  </div>
</div>
